<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<form method="POST">
			<div class="header">
				<h5>以下の内容で登録しました。</h5>
			</div>
			<div class="main">
				<h6 th:text="${text}"></h6>
			</div>
			<div class="main">
				<button type="submit" id="edit" name="edit" formaction="/hensyu">編集</button>
				<button type="submit" id="backSel" name="backSel" formaction="/selection">選択画面に戻る</button> 
			</div>
		</form>
	</body>
</html>