<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>日報登録画面</title>
	<script src="./js/regist.js"></script>
	<link th:href="@{/css/dailyReportRegister.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">

</head>

<body>
	<header>Daily-Report</header>
	<div class="all">
		<h1><label>日報登録画面</label></h1>
		<h2 class="attention">
			<p id="p1" class="p1">題名または日報が未入力です</p>
		</h2>
		<form method="post"id="register">
			<label class="titlemoji">題名</label>
			</br>
			<textarea name="title" th:text="${title}" class="title" id="title"></textarea>
			</br>
			<label class="nippoumoji">日報</label>
			</br>
			<textarea name="dailyReportText" th:text="${dailyReportText}" 
					  class="dailyReport"id="dailyReport"></textarea>
			</br>
			<label class="managerName">報告者氏名</label><label class="reportDay">日報日付</label>
			</br>
			<textarea name="names" id="names" th:text="${names}" class="names" readonly></textarea>
			<input type="date" name="day" class="day" id="today">
			</br>
			<input type="hidden" th:value="${login_id}" name="login_id">

		<h2 class="registbtn">
			<th:block th:with="rank = ${rank}" naem="rank">
				<th:block th:if="${rank == '1'}">
					<p><input type="button" onclick="regist()" value="登録" class="regist" ></p>
				</th:block>
				<th:block th:if="${rank == '2'}">
					<p><input type="button" onclick="regist()" value="承認" class="regist" ></p>
				</th:block>
			</th:block>
			
		</h2>
		</form>

	</div>
</body>

</html>