<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>日報編集画面</title>
<link th:href="@{/css/hensyu.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<form method="POST">
		<header>Daily-Report</header>
		<h1>
			<label>日報編集画面</label>
		</h1>
		<label class="titlemoji">題名</label> </br>
		<textarea name="title" th:text="${title}" class="title"></textarea>
		</br> <label class="nippoumoji">日報</label> </br>
		<textarea name="dailyReportText" th:text="${dailyReportText}"
			class="dailyReport"></textarea>
		</br> <label class="managerName">担当者氏名</label><label class="reportDay">日報日付</label>
		</br>
		<textarea name="names" id="names" th:text="${names}" class="names"
			readonly></textarea>
		<input type="date" name="day" class="day"> </br> </br> </br>
		<p>
			<input type="submit" value="変更" class="regist" formaction="">
		</p>
	</form>
</body>

</html>