<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>日報一覧</title>
	<link th:href="@{/css/header.css}" rel="styleSheet" type="text/css">
	<link th:href="@{/css/list.css}" rel="styleSheet" type="text/css">
</head>

<body>
	<header>Daily-Report
	</header>
	<main>
		<form method="Post">
			<div class="all">
				<div class="title">
					<h1>日報一覧</h1>
				</div>
				<table class="table">
					<caption>
						<input type="date" placeholder="日付を入力">
						<button type="submit" id="searchBtn" name="searchBtn">検索</button>
					</caption>
					<tr>
						<th>名前</th>
						<th>題名</th>
						<th>ステータス</th>
						<th>日付</th>
						<th>更新日</th>
						<th></th>
					</tr>
					<tr th:each="data : ${dailyReportList}">
						<td th:text="${data.name}" />
						<td th:text="${data.title}" />
						<td th:text="${data.status}" />
						<td th:text="${data.createDate}" />
						<td th:text="${data.updateDate}" />
						<td>
							<button type="submit" id="editFrmList" name="editFrmList" formaction="/hensyu">編集</button>
						</td>
					</tr>
					<!--							<tr>-->
					<!--								<td></td>-->
					<!--								<td></td>-->
					<!--								<td></td>-->
					<!--								<td></td>-->
					<!--								<td></td>-->
<!--					<td>-->
<!--						<button type="submit" id="editFrmList" name="editFrmList" formaction="/hensyu">編集</button>-->
<!--					</td>-->
					<!--							</tr>-->
				</table>
			</div>
		</form>
	</main>
</body>

</html>