<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link th:href="@{/css/Login.css}" rel="styleSheet" type="text/css">
	<link th:href="@{/css/header.css}" rel="styleSheet" type="text/css">
</head>

<body>
	<header>Daily-Report</header>
	<main>
	<form method="POST">

		<div class="flame">
			<h1 id="title">
				ログイン
			</h1>

			<h2>
				<input type="text" id="login_id" name="login_id" class="textArea" placeholder="LoginID"
					onfocus="this.placeholder=''" onblur="this.placeholder='LoginID'" th:value="${login_id}"></input>
			</h2>

			<h3>
				<input type="password" id="password" name="password" class="textArea" placeholder="Password"
					onfocus="this.placeholder=''" onblur="this.placeholder='Password'" th:value="${password}"></input>
			</h3>

			<h4>
				<button type="submit" id="loginBtn" name="loginBtn" class="btn" formaction="/login">ログイン</button>
			</h4>
		</div>
	</form>
	</main>
</body>
</head>