<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>選択一覧</title>
		<link th:href="@{/css/header.css}" rel="stylesheet">
		<link th:href="@{/css/style.css}" rel="stylesheet">
	</head>
	<body>
		<header>Daily-Report</header>
		<main>
			<form method="Post">
				<div class="selectArea">
					<button type="submit" id="writeBtn" name="writeBtn" class="selectBtn" formaction="/dailyReportRegister">書き込み</button>
					<button type="submit" id="editBtn" name="editBtn" class="selectBtn" formaction="/list">日報一覧</button>
				</div>
				<input type="hidden" name="login_id" th:value="${login_id}">
			</form>
		</main>
	</body>
</html>