@charset "UTF-8";

h1 {
	text-align: center;
	border-bottom: 2px groove black;
}

h2{
	text-align : center ;
}
.p1{
	position:relative;
	font-size:20px;
	color:red;
	display:none;
}
textarea {
	font-size:15px;
	resize: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size:19px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	width: 50%;
}

.dailyReport {
	height: 200px;
	width: 50%;
}

.names {
	font-size:18px;
	height: 20px;
	width: 20%;
	position: relative;
	left: 25%;
	margin: 0%;
}

div {
	margin: 5em auto;
	max-width: 80%;
	background: rgb(192, 192, 192);
	padding: 20px;
	border-radius: 30px;
}
.regist{
	font-size:25px;
	width:10%;
}
.day {
	font-size:18px;
	width: 20%;
	height: 23px;
	position: relative;
	left: 55%;
	bottom: 27px;
}

.titlemoji {
	font-size:23px;
	position: relative;
	left: 25%;
}

.nippoumoji {
	font-size:23px;
	position: relative;
	left: 25%;
}

.managerName {
	font-size:23px;
	position: relative;
	left: 25%;
}

.reportDay {
	font-size:23px;
	position: relative;
	left: 45.2%;
}



