@charset "UTF-8";
h1{
	position:relative;
	left:45%;
}
textarea{
	resize : none;
	position:relative;
	left:35%;
}
.title{
	height:20px;
	width:30%;
}
.dailyReport{
	height:200px;
	width:30%;
}
select{
	height:20px;
	width:10%;
	position:relative;
	left:35%;
}
.regist{
	width:5%;
	position:relative;
	left:48%;
}
.day{
	width:10%;
	position:relative;
	left:45%;
}
.titlemoji{
	position:relative;
	left:35%;
}
.nippoumoji{
	position:relative;
	left:35%;
}
.managerName{
	position:relative;
	left:35%;
}
.reportDay{
	position:relative;
	left:50.6%;
}
