@charset "UTF-8";

.all{
	border: 1px solid lightgrey;
	max-width: 1200px;
	height: auto;
	text-align: center;
	padding-right: 90px;
	padding-left: 90px;
	padding-bottom: 10%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

caption{
	text-align: right;
	margin: 10px 20px;
}

table{
	width: 1200px;
	margin: auto;
	border-collapse: collapse;
}

table,th,td {
	width: 1200px;
	color: #565656;
	font-weight: lighter;
	border: 1px solid rgb(204, 204, 204);;
}

.title{
	font-size:20px;
}

th{
	background-color: rgb(179, 179, 179);
	color:rgb(0, 64, 128);
}