@charset "UTF-8";

/*header {*/
/*	color: white;*/
/*	background-color: #25b6d8;*/
/*	padding: 20px*/
/*}*/

div {
	/*	padding: 2px;*/
	margin: 10em auto;
	max-width: 500px;
	background: rgb(192, 192, 192);
	padding: 20px;
	border-radius: 30px;
}

h1 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 30px;
	/*	padding: 0;*/
	border-bottom: 2px groove rgb(0, 0, 0);
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	max-width: 70px;
	margin: auto;

}

.textArea {
	/*	margin: auto;*/
	width: 300px;
	height: 30px;
	font-size: 15px;
}