@charset "UTF-8";

.selectArea{
	border: 1px solid lightgrey;
	margin: 10% auto;
	max-width: 500px;
	text-align: center;
	padding: 60px;
}

.selectBtn{
	width: 150px;
	height: 100px;
	margin: 10px;
}

